@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }

  body {
    @apply bg-black text-white antialiased;
    overflow-x: hidden;
    width: 100%;
  }
}

@layer utilities {
  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-25%);
    }
  }

  @keyframes marquee-reverse {
    0% {
      transform: translateX(-25%);
    }
    100% {
      transform: translateX(0);
    }
  }

  .animate-marquee {
    animation: marquee 30s linear infinite;
  }

  .animate-marquee-fast {
    animation: marquee 20s linear infinite;
  }

  .animate-marquee-reverse-fast {
    animation: marquee-reverse 20s linear infinite;
  }
}
